{% extends 'layout.html' %}
{% load static %}  <!-- Load the static template tag library to use static files like CSS, JavaScript, or images -->

<!-- Main content block where the body of the page is defined -->
{% block body %}
<div class="container mt-5">
    <!-- Title of the page -->
    <h2 class="mb-4">Pet Center</h2>
    <div class="row">
        <!-- Loop through each pet provided by the view -->
        {% for pet in pets %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <!-- Conditionally display the pet's photo if it exists -->
                {% if pet.profile_photo %}
                <img src="{{ pet.profile_photo.url }}" class="card-img-top" alt="{{ pet.first_name }}">
                {% endif %}
                <div class="card-body">
                    <!-- Display the pet's name -->
                    <h5 class="card-title">{{ pet.first_name }} {{ pet.last_name }}</h5>
                    <!-- Display the pet's birth date -->
                    <p class="card-text">Birth Date: {{ pet.date_of_birth }}</p>
                    <!-- Display the pet's gender -->
                    <p class="card-text">Gender: {{ pet.get_gender_display }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <!-- Displayed if no pets are found -->
        <div class="col-12">
            <p>No pets registered.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
